@import "../node_modules/antd/dist/antd.css"

div#chart-container, div#root {
    height: 100%;
    width: 100%;
}

div#chart {
    overflow:hidden;
}

.line {
    fill: none;
    stroke: #555;
    stroke-width: 1;
    /* clip-path: url(#clip); */
}

.zoom {
  cursor: move;
  fill: none;
  pointer-events: all;
}

.hidden {
  display: none;
}

rect.annotation-note-bg {
    fill-opacity: 100;
}

.annotation-note-title, .annotation-note-label {
    font-size: 12px;
}
