@import "../node_modules/antd/dist/antd.css"

div#chart-container, div#root {
    height: 100%;
    width: 100%;
}

.line {
    fill: none;
    stroke: #555;
    stroke-width: 1;
    clip-path: url(#clip);
}
.zoom {
  cursor: move;
  fill: none;
  pointer-events: all;
}
